//nexus.utils.baamtuservices.com/repository/npm-private-test/:_authToken=NpmToken.c087a2e6-2700-370f-bcd7-d0b3db573e22
email=you@example.com
# //nexus.utils.baamtuservices.com/repository/npm-repo-test-private2/:username=admin
# //nexus.utils.baamtuservices.com/repository/npm-repo-test-private2/:_password="YWt0aDRxVnlNWUthYnRMeWRlZ3cKCg=="
# registre=http
# :=//localhost:8081/repository/npm-all/

